/* styles for light mode */

* {
    -fx-text-fill: black;
}

.root {
    -fx-background-color: #F2F2F2;
}

/* buttons */
.button {
    -fx-background-color: white;
    -fx-border-color: #C2C2C2;
}

.button:hover {
    -fx-background-color: #F7F7F7;
    -fx-border-color: #89B0D4;
}

.button:focused {
    -fx-border-color: #89B0D4;
}

/*check boxes*/
.box {
    -fx-background-color: white;
    -fx-border-color: #AFAFAF;
}

.check-box:focused .box {
    -fx-border-color: #89B0D4;
}

.check-box:selected .box {
    -fx-background-color: #4E9DE7;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:hover .box {
    -fx-border-color: #4E9DE7;
}

/* choice box */
.choice-box {
    -fx-background-color: white;
    -fx-border-color: #C2C2C2;
}

.choice-box:focused {
    -fx-border-color: #89B0D4;
}

.choice-box .context-menu {
    -fx-background-color: white;
    -fx-border-color: #AEAEAE;
    -fx-mark-color: black;
}

.choice-box .menu-item:hover, .choice-box .menu-item:focused {
    -fx-background-color: #2675BF;
}


/* game view stuff */
.wordle-letter-box {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #C2C2C2;
}

.title {
    -fx-fill: black;
}